@font-face {
    font-family: 'manga';
    src: url('Manga.ttf'),
        url('Manga.ttf') format('tff');
}

@keyframes helpAnimation {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hintContainer {
    position: absolute;
    right: 5em;
    bottom: 1em;
    animation: helpAnimation 0.5s ease, fadeIn 1s ease;
}

.hint {
    background-color: #ec6565;
    color: white;
    font-family: "manga";
    box-shadow: 0 1px 3px white, 0 -1px 3px white;
    padding: 0.3em 1em;
    margin: 1em;
    border-radius: 12px;
}

@media only screen and (max-width: 768px) {
    .hintContainer {
        right: 4.5em;
        bottom: 1em;
        width: 16em;

    }

    .hint {
        padding: 0.1em 0.8em;
        margin: 0.8em;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 560px) {
    .hintContainer {
        right: 4.5em;
        bottom: 1em;
        width: 10em;

    }

    .hint {
        padding: 0.1em 0.8em;
        margin: 0.5em;
        border-radius: 5px;
    }
}